<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>  <!-- Necessary for Yubikit : NDEF Tag, available since iOS 11 -->
		<string>TAG</string>   <!-- Necessary for Yubikit : Application specific tag, including ISO 7816 Tags -->
	</array>
</dict>
</plist>
